# --------------------
# Python / Conda
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
conda-env/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# Data (too large to upload)
# --------------------
#data/

# --------------------
# Logs
# --------------------
*.log

